@import "~bootstrap/scss/bootstrap"

img.picto
  vertical-align: middle
  height: 1.6em


.with-bg-color
  display: inline-block
  border: none
  border-radius: 3em
  text-align: center
  line-height: 1.2em
  min-width: 20px
  padding: 0.2em 0.3em

.summary span
  padding: 0 5px